# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.AR-earthquake-simulation.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\unity project\AR-earthquake-simulation\.idea\.idea.AR-earthquake-simulation\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
